apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "docker-dind.fullname" . }}
  labels:
    {{- include "docker-dind.labels" . | nindent 4 }}
data:
  daemon.json: |-
    {{- $data := dict "hosts" (list .Values.docker.host) "insecure-registries" .Values.docker.insecureRegistries }}
    {{- /* Add containerd pipe for Windows */}}
    {{- $_ := set $data "containerd" "\\\\.\\pipe\\containerd-containerd" }}
    {{- /* Explicitly set data-root to ensure persistence works */}}
    {{- $_ := set $data "data-root" .Values.docker.dataRoot }}
    {{- if and .Values.docker.builder .Values.docker.builder.gc }}
    {{- $_ := set $data "builder" (dict "gc" (dict "defaultKeepStorage" .Values.docker.builder.gc.defaultKeepStorage "enabled" .Values.docker.builder.gc.enabled)) }}
    {{- end }}
    {{- /* Network configuration to avoid overlay/VNI conflicts */}}
    {{- if .Values.docker.network }}
    {{- if .Values.docker.network.bridge }}
    {{- $_ := set $data "bridge" .Values.docker.network.bridge }}
    {{- end }}
    {{- if .Values.docker.network.fixedCidr }}
    {{- $_ := set $data "fixed-cidr" .Values.docker.network.fixedCidr }}
    {{- end }}
    {{- end }}
    {{- if .Values.docker.extraArgs }}
    {{- range .Values.docker.extraArgs }}
    {{- $parts := splitn ":" 2 . }}
    {{- $_ := set $data (index $parts 0 | trim) (index $parts 1 | trim) }}
    {{- end }}
    {{- end }}
    {{- mustToJson $data | nindent 4 }}
