services:
  linux-runner:
    image: ${RUNNER_IMAGE:-ghcr.io/matfax/github-runner/runner-linux:latest}
    restart: "no"
    environment:
      - CUSTOM_ACTIONS_RESULTS_URL=http://host.docker.internal:3000
      - REPO_URL=${REPO_URL}
      - REG_TOKEN=${REG_TOKEN}
      - RUNNER_IDLE_TIMEOUT_MINUTES=${RUNNER_IDLE_TIMEOUT_MINUTES:-15}
      - RUNNER_MAX_RESTARTS=${RUNNER_MAX_RESTARTS:-20}
      - RUNNER_LABELS=${RUNNER_LABELS}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts:
      - "host.docker.internal:host-gateway"
