name: Timeout Watchdog

on:
  workflow_run:
    workflows: 
      - Build and Test
    types: [requested]

concurrency:
  group: watchdog-${{ github.workflow_sha }}-${{ github.event.workflow_run.run_number }}
  cancel-in-progress: false

jobs:
  wait:
    name: Wait for Build
    runs-on: ubuntu-latest
    permissions:
      actions: read
    outputs:
      conclusion: ${{ steps.wait-for-job.outputs.conclusion }}
    steps:
      - uses: beacon-biosignals/wait-for-job@38927c8e9d02205ebecd13e7787dde41e9731673 # v1.0.0
        id: wait-for-job
        with:
          run-id: ${{ github.event.workflow_run.id }}
          job-name: "Create Registration Token"
          poll-interval: 5

  watchdog:
    name: Monitor Build Jobs
    needs: wait
    if: github.event.workflow_run.run_attempt == 1 && needs.wait.outputs.conclusion == 'success'
    runs-on: ubuntu-latest
    environment: watchdog-timer
    permissions:
      actions: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Check for stuck jobs
        id: check
        run: |
          BUILD_JOBS=$(gh run view "${{ github.event.workflow_run.id }}" --json jobs --jq '
            .jobs[] 
            | select(.name | contains("Build and Launch"))')
          
          STUCK=$(echo "$BUILD_JOBS" | jq -r 'select(.status == "queued" or .status == "waiting") | .name // empty')
          if [ -z "$STUCK" ]; then
            echo "No stuck Build jobs detected. Exiting."
            exit 0
          fi
          echo "stuck=true" >> $GITHUB_OUTPUT
      - name: Cancel stuck workflow
        if: steps.check.outputs.stuck == 'true'
        run: gh run cancel "${{ github.event.workflow_run.id }}"
      - name: Wait for workflow completion
        if: steps.check.outputs.stuck == 'true'
        timeout-minutes: 2
        run: |
          echo "Waiting for workflow to complete after cancellation..."
          while true; do
            STATUS=$(gh run view "${{ github.event.workflow_run.id }}" --json status --jq '.status')
            if [ "$STATUS" == "completed" ]; then
              break
            fi
            sleep 5
          done
      - name: Rerun cancelled workflow
        if: steps.check.outputs.stuck == 'true'
        run: gh run rerun "${{ github.event.workflow_run.id }}"
